{% extends 'base.html' %}

{% block content %}
<div class="p-3 mx-5 rounded-lg flex flex-col items-start gap-4">
    {% if results %}
        <h2 class="text-2xl mx-5 font-semibold p-1">Search Results</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            {% for result in results %}
        <div class="flex bg-white bg-opacity-75 shadow">
                <div class="card-body items-start">
                    <h2 class="card-title pb-1 border-b-2 border-indigo-300 border-opacity-10"> {{result.name}}</h2>
                    <p class="text-gray-600">{{result.short_description}}</p>
                    <div class="card-actions justify-start mt-2">
                        <button class="btn btn-primary"><a href="{% url 'helpdesk:article' result.slug %}">Learn more!</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="card-title pb-1 border-b-2 border-indigo-300 border-opacity-10">No results found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}